* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}


.pre-nav {
    width: 100%;
    height: 100vh;
    background-image: url(./images/homepage_bg_3.jpg);
}

.pre-nav>img {
    padding: 52px;
    display: block;
    margin: 0px auto;
    width: 154px;
}

.pre-nav>h1 {
    margin-bottom: 20px;
    padding: 0px 200px;
    font-size: 121px;
    color: white;
    text-align: center;
}

.pre-nav>h5 {
    color: white;
    font-size: 26px;
    padding: 0px 240px;
    text-align: center;
}

.down-btn {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 78px;
    height: 78px;
    left: 600px;
}

.down-btn>i {
    color: #f90706;
    text-align: center;
}

.nav {
    position: sticky;
    padding: 20px 20px 10px 20px;
}

.nav>img {
    width: 42px;
}

.nav>ul {
    margin-top: 10px;
    float: right;
    list-style: none;
}

.nav>ul>li {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-weight: bold;
    margin-left: 20px;
}

#first {
    color: #f90706;
}

.nav>ul>li:hover {
    cursor: pointer;
    color: #f90706;
}

