* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}


.pre-nav {
    width: 100%;
    height: 100vh;
    background-image: url(./images/homepage_bg_3.jpg);
}

.pre-nav>img {
    padding: 52px;
    display: block;
    margin: 0px auto;
    width: 154px;
}

.pre-nav>h1 {
    margin-bottom: 20px;
    padding: 0px 200px;
    font-size: 121px;
    color: white;
    text-align: center;
}

.pre-nav>h5 {
    color: white;
    font-size: 26px;
    padding: 0px 240px;
    text-align: center;
}

.down-btn {
    position: absolute;
    bottom: 0px;
    background-color: white;
    width: 78px;
    height: 78px;
    left: 600px;
}

.down-btn>i {
    color: #f90706;
    text-align: center;
    font-size: 35px;
    position: absolute;
    top: 25%;
    left: 28%;
}

.down-btn:hover {
    background-color: #d7d7d7;
}

.down-btn:hover i {
    top: 35%;
}

.nav {
    top: 0px;
    position: sticky;
    padding: 20px 20px 10px 20px;
}

.nav>img {
    width: 42px;
}

.nav>ul {
    margin-top: 10px;
    float: right;
    list-style: none;
}

.nav>ul>li {
    display: inline-block;
    font-size: 15px;
    line-height: 18px;
    font-weight: bold;
    margin-left: 20px;
}

#first {
    color: #f90706;
}

.nav>ul>li:hover {
    cursor: pointer;
    color: #f90706;
}

.about-us {
    position: relative;
}

.left-heading {
    display: inline-block;
    padding-right: 80px;
    width: 35%;
    height: 468px;
    background: #2a2d2e;
}

.left-heading>h2 {
    line-height: 78px;
    font-size: 90px;
    text-align: right;
    color: #d3d3d3;
    margin-top: 145px;
}

.right-text {
    display: inline-block;
    width: 58%;
    height: 468px;
    background: aqua;
}